body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    font-size: larger;
} 
header {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    border: solid 1px;
    background-image: url("../images/pokemon.jpg");
    background-size: cover;
    height: 190px;
    
   
    font-size: 25px;
}
header h1, #slogan{
    color: #FFDE00;
    text-shadow: #3b4cca 3px 3px, #3b4cca 3px 3px, #3b4cca 3px 3px, #3b4cca 3px 3px;
}
#slogan{
    font-size: 25px;
}


#pokeName{
    text-decoration: underline;
}
.starters{
    list-style-type: none;
    display: flex;
    align-items: center;
    border: 1px solid #b3a125;
    background-color: #FFDE00;
    justify-content: space-evenly;
    padding-left: 0px;
    
}
.starters{
    padding: 5px;
}
.starters a{
    text-decoration: none;
    background-color: white;
    border-radius: 5px;
    color: black;
}
#pokeDetails p{
padding: 5px;
display:block;
border-radius: 10px;
background-color: whitesmoke;
block-size: auto;
writing-mode: vertical-lr;
block-size: auto;
writing-mode: horizontal-tb;
color: rgb(57, 57, 57);
}
#pokeDetails{
    max-width: 400px;
    margin: 0px auto;
}
#pokeImage{
margin-left: 100px;
}
#pokeName{
    text-align: center;
}
.starters li{
    margin:0px;
}
article{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#nouns{
    margin: 0px;
    width: 197px;
    height: 57px;
}
#verbs{
    margin: 0px;
    width: 197px;
    height: 57px;
}
#adjectives{
    margin: 0px;
    width: 197px;
    height: 57px;
}
#storyDisplay{
    margin:left;
    background-color: rgb(228, 247, 251);
}
#displayArea{
    margin-left: 20px;
}
#treeDisplay{
    background-color: rgb(79, 156, 106);
}
#buttonList{
    display:flex;
    justify-content: center;
}

#gameDisplay{
    display: flex;
    justify-content: center;
    
}
#gameDisplay img{
    border: solid 1px #3b4cca;
    box-shadow: 5px 2px 2px #3b4cca;
}
#message{
    text-align: center;
    color: #FFDE00;
    text-shadow: #3b4cca 1px 1px, #3b4cca 1px 1px, #3b4cca 1px 1px, #3b4cca 1px 1px;
}
#welcomeMessage{
    color: #FFDE00;
    text-shadow: #3b4cca 1px 1px, #3b4cca 1px 1px, #3b4cca 1px 1px, #3b4cca 1px 1px;
}
button{
    border-radius: 4px;
    padding: 5px;
    margin: 10px;
    background-color: orange
}
.subHead{
    color: #FF0000;
    text-decoration: underline;
}
span{
    color: #FF0000;
}
#buttons{
    display: flex;
    
}

.sectionHead{
    color:#CC0000;
}
li{
    color: #FF0000;
    margin-left: 23px;
}
main{
    max-width: 750px;
    margin: 0 auto;
}
footer{
    display: flex;
    justify-content: center;
    background-color: #3b4cca;
    max-height: auto;  
    max-width: 800px;
    margin: auto; 
    border: solid 1px darkgoldenrod;
    margin-top: 20px;
}
.info{
    color: rgb(210, 105, 105);
    text-shadow: black .25px .25px, black .25px .25px, black .25px .25px, black .25px .25px;
    padding-left: 46px;
}
footer p{
    color: #FFDE00;
    margin: auto;
    
    text-shadow: white .25px .25px, white .25px .25px, white .25px .25px, white .25px .25px;
}


.starters li{
    list-style-image: url("../images/Pokeball.png");
    
}
.starters a{
    color: #FFDE00;
    text-shadow: #3b4cca .5px .5px, #3b4cca .5px .5px, #3b4cca .5px .5px, #3b4cca .5px .5px;
    background-color: #3b4cca;
}
.starters ul{
    background-color: #FFDE00;
}
li ::marker{
    height: 20px;
}