body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(190, 244, 209);
    font-size: larger;
} 
header {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    border: solid 1px;
    background-image: url("../images/words.jpg");
    background-size: cover;
    height: 190px;
    text-shadow: white 1px 1px, white 1px 1px, white 1px 1px, white 1px 1px;
    font-size: 25px;
}
#newArea{
    display:flex;
    flex-direction: row;
}
#displayArea{
    margin-left: 20px;
}
#treeDisplay{
    background-color: rgb(79, 156, 106);
}
.buttonList{
    display:flex;
    flex-direction: column;
}
button{
    border-radius: 4px;
    padding: 5px;
    margin: 10px; 
}
.subHead{
    color: rgb(0, 164, 57);
    text-decoration: underline;
}
span{
    color: red;
    size: 1px;
}
h1{
    color: rgb(43, 39, 39);
}
h2 {
    color: rgb(110, 109, 109);
    text-shadow: black .25px .25px, black .25px .25px, black .25px .25px, black .25px .25px;
}
#instructions{
    color: rgb(43, 39, 39);
}
#slogan{
    margin-top: 0px;
    text-shadow: white 1px 1px, white 1px 1px, white 1px 1px, white 1px 1px;
}

h3{
    color: rgb(106, 251, 73);
}
li{
    color: rgb(11, 111, 0);
    margin-left: 23px;
}
main{
    max-width: 750px;
    margin: 0 auto;
}
footer{
    display: flex;
    justify-content: center;
    background-color: rgb(21, 154, 6);
    max-height: auto;  
    max-width: 800px;
    margin: auto; 
    border: solid 1px rgb(0, 254, 110);
    margin-top: 20px;
}
.info{
    color: rgb(210, 105, 105);
    text-shadow: black .25px .25px, black .25px .25px, black .25px .25px, black .25px .25px;
    padding-left: 46px;
}
footer p{
    color: whitesmoke;
    margin: auto;
    
    text-shadow: white .25px .25px, white .25px .25px, white .25px .25px, white .25px .25px;
}
li::marker{
content: "🌱"
}


.a1{
    min-width: auto;
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
}
.a2, .a3, .a4{
    min-width: 100px;
    text-align: center;
    
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
}
.collapse{
    min-width: 20px;
}
.a2 div{
    font-size: 2rem;
}
#gameArea{
    display: flex;
    justify-content: space-evenly;
    background-color: bisque;
}